<div class="row arduino<%=arduinoNumber%>">
  <div class="panel callout radius">
    <div class="fi-eject right" onclick="removeArduino('arduino<%=arduinoNumber%>')"></div>
    <div class="row">
      <span class="label">DHT11 Sensor</span>
    </div>
    <div class="row">
      <select id="serialPortSelector" class="com1 columns large-4 right" onchange="updateComPort('arduino<%=arduinoNumber%>', this)">
        <option value="null">Select Port</option>
        <option value="COM1">COM1</option>
        <option value="COM3">COM3</option>
        <option value="COM5">COM5</option>
        <option value="COM7">COM7</option>
        <option value="COM9">COM9</option>
      </select>
    </div>
    <div class="row">
      <span class="columns large-3">Thermistor </span>
      <input id="temperature" type="range"  min="0" max="100" onchange="xwotcallback('arduino<%=arduinoNumber%>')" class="xwot sensor columns large-8"/>
      <span id="temperaturetext" class="columns large-1">0</span>
    </div>
    <div class="row">
      <span class="columns large-3">Humidity </span>
      <input id="humidity" type="range"  min="0" max="100" onchange="xwotcallback('arduino<%=arduinoNumber%>')" class="xwot sensor columns large-8"/>
      <span id="humiditytext" class="columns large-1">0</span>
    </div>
  </div>
</div>